:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-main: #191919;
  --white-main: #FFFFFF;
  --light-theme-background: #FFFFFF;
  --light-theme-accent: #E2E2E2;
  --light-theme-accent-content: #D0D0D0;

  --dark-theme-background: #191919;
  --dark-theme-accent: #131313;
  --dark-theme-accent-content: #191919;
}

body {
  margin: 0;
  display: flex;
  min-height: 120vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: --black-main;
    background-color: --light-theme-background;
  }
  .styled-popper {
    background-color: var(--light-theme-background);
    color: var(--black-main);
  }
}
